In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

# Data file paths
energy_data_path = "Resources/energy_data_state.csv"

# Read the mouse data and the study results
energy_data = pd.read_csv(energy_data_path)

# NOTES
# Might need to remove commas in Megawatthours
# Need to combined states

In [28]:
energy_data.head()

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,1990,AK,Total Electric Power Industry,Total,"5,599,506"
1,1990,AK,Total Electric Power Industry,Coal,"510,573"
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,"974,521"
3,1990,AK,Total Electric Power Industry,Natural Gas,"3,466,261"
4,1990,AK,Total Electric Power Industry,Petroleum,"497,116"

In [29]:
# Data types
energy_data.dtypes

YEAR                           int64
STATE                         object
TYPE OF PRODUCER              object
ENERGY SOURCE                 object
GENERATION (Megawatthours)    object
dtype: object

In [34]:
# Cleaning up the column names
energy_data = energy_data.rename(columns={
    "YEAR":"Year",
    "STATE": "State",
    "TYPE OF PRODUCER":"Type of Producer",
    "ENERGY SOURCE":"Energy Source",
    "GENERATION (Megawatthours)":"Megawatt Hours"
    })
energy_data.head()

,Year,State,Type of Producer,Energy Source,Megawatt Hours
0,1990,AK,Total Electric Power Industry,Total,"5,599,506"
1,1990,AK,Total Electric Power Industry,Coal,"510,573"
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,"974,521"
3,1990,AK,Total Electric Power Industry,Natural Gas,"3,466,261"
4,1990,AK,Total Electric Power Industry,Petroleum,"497,116"

In [35]:
# Seeing all unique types of energy sources in our data
unique_energy_sources = energy_data["Energy Source"].unique()
unique_energy_sources

array(['Total', 'Coal', 'Hydroelectric Conventional', 'Natural Gas',
       'Petroleum', 'Wind', 'Wood and Wood Derived Fuels', 'Nuclear',
       'Other Biomass', 'Other Gases', 'Pumped Storage', 'Geothermal',
       'Other', 'Solar Thermal and Photovoltaic'], dtype=object)

In [36]:
# Creating national data frame
national_total = energy_data.loc[energy_data["Energy Source"] == "Total", :]
national_total

,Year,State,Type of Producer,Energy Source,Megawatt Hours
0,1990,AK,Total Electric Power Industry,Total,"5,599,506"
7,1990,AK,"Electric Generators, Electric Utilities",Total,"4,493,024"
13,1990,AK,"Combined Heat and Power, Industrial Power",Total,"840,949"
17,1990,AK,"Combined Heat and Power, Commercial Power",Total,"265,533"
20,1990,AL,Total Electric Power Industry,Total,"79,652,133"
...,...,...,...,...,...
53723,2019,WV,"Electric Generators, Electric Utilities",Total,"48,312,222"
53729,2019,WY,Total Electric Power Industry,Total,"42,145,656"
53738,2019,WY,"Combined Heat and Power, Industrial Power",Total,"1,338,019"
53744,2019,WY,"Electric Generators, Independent Power Producers",Total,"3,200,898"
53750,2019,WY,"Electric Generators, Electric Utilities",Total,"37,606,739"